<div class="container-fluid text-center">
    @if (User.Role == "Admin")
    {
    <h2 class="text-center text-torshia">Welcome, Admin-@User.Username!</h2>
    <h2 class="text-center text-torshia">Enjoy your work!</h2>
    }
    @else
    {
    <h2 class="text-center text-torshia">Welcome, @User.Username!</h2>
    <h2 class="text-center text-torshia">Have a nice tasking experience!</h2>
    }
</div>
<hr  class="bg-torshia hr-2" />
<div class="container-fluid">
    <div class="row justify-content-around mb-3">
        @for(var i = 0; i < Model.Tasks.Count(); i++)
        {
        { var task = Model.Tasks.ToList()[i]; }
        @if (i % 5 == 0 && i > 1)
        {
    </div>
    <div class="row justify-content-around mt-3">
        }
        <div class="col-md-2 bg-torshia text-center text-white rounded-top rounded-bottom">
            @task.Name
            <hr class="hr-2 bg-white text-white" />
            Level: @task.Level
            <hr class="hr-2 bg-white text-white" />
            <a href="/Tasks/Report?id=@task.Id" class="text-white">Report</a> &nbsp;
            <a href="/Tasks/Details?id=@task.Id" class="text-white">Details</a>
        </div>
        }
    </div>
</div>