<div class="jumbotron jumbotron-fluid col-sm-12 bg-success text-white">
    <h3 class="greeting" id="greeting-loggedOut">
	<b>Welcome&nbsp;to&nbsp;iRunes!</b>
    </h3>
    <h3 class="greeting" id="greeting-loggedIn">
	<b>Welcome, <span class="text-warning">@Model.Username</span></b>
    </h3>
    <div>
	<h4 id="wishes">iRunes wishes you a fun experience!</h4>
	<h4 id="optionLogin">
	    <a class="text-warning" href="/Users/Login"><b>Login</b></a>
	    <span>&nbsp;if&nbsp;you&nbsp;have&nbsp;an&nbsp;account.</span>
	</h4>
	<h4 id="optionRegister">
	    <a class="text-warning" href="/Users/Register"><b>Register</b></a>
	    <span>&nbsp;if&nbsp;you&nbsp;don't.</span>
	</h4>
    </div>
</div>