<div class="container text-center text-success">
    <h1>Login</h1>
</div>
<div class="container-fluid col-md-6 align-content-center">
    <hr />
    <form action="/Users/Login" method="post">
        <div class="form-group">
            <label for="login">Username / Email</label>
            <input type="text" class="form-control" name="login" id="login" placeholder="Username / Email...">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password...">
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-success text-white" value="Login">
        </div>
    </form>
</div>