@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-danger" role="alert">
    @ViewData["Message"]
</div>
<div class="button-holder d-flex justify-content-start">
    <a asp-controller="Events" asp-action="All" class="btn eventures-bg-color">Back</a>
</div>