@if (User.IsInRole("Admin"))
{
    <a class="nav-link nav-link-white active" asp-area="" asp-controller="Packages" asp-action="AllPending">Pending</a>
    <a class="nav-link nav-link-white active" asp-area="" asp-controller="Packages" asp-action="AllShipped">Shipped</a>
    <a class="nav-link nav-link-white active" asp-area="" asp-controller="Packages" asp-action="AllDelivered">Delivered</a>
    <a class="nav-link nav-link-white active" asp-area="" asp-controller="Packages" asp-action="CreatePackage">Package</a>
}