<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes</title>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css" />
</head>
<body>
    <div class="container w-50">
        <div class="text-center">
            {{trackInfo}}
            <hr class="my-2" style="border-color: #228B22; border-top-width: 2px;">
            <div class="embed-responsive embed-responsive-16by9">
                {{trackVideo}}
            </div>
            <hr class="my-2" style="border-color: #228B22; padding-bottom: 8px; border-top-width: 2px;">
            <a href="/album/details?id={{albumId}}" class="btn btn-success">Back To Album</a>
        </div>
    </div>
    <script src="jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="popper.min.js" type="text/javascript"></script>
    <script src="bootstrap.min.js" type="text/javascript"></script>
</body>
</html>