<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fluffy Duffy Munchkin Cats</title>
    <link rel="stylesheet" href="/lib/bootstrap/vendor/bootstrap/css/bootstrap.css" />
</head>
<body>
@RenderBody()
</body>
</html>